
footer{
    position: relative;
    background-color: #f8f8fa;
    width: 100%;
    min-width: 1100px;
    height: 200px;
    margin: 0;
    padding: 0;
}
footer > .top {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    clear: both;
}
footer > .top > div {
    float: left;
    padding: 5px 10px 5px 0;
}
footer > .top > div:last-child a:hover{
    text-decoration: none;
}
footer > .top > div i {
    width: 15px;
    height: 15px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-footer-search.png);
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
footer > .top > div:last-child {
    overflow: hidden;
    float: right;
    display: block;
}
footer > .top > div:last-child > div {
    align-items: center;
}
footer > .top > div:last-child a {
    border: 1px solid #666666;
    border-radius: 20px;
    padding: 10px 20px 10px 15px;
    display: inline-block;
    display: flex;
    align-items: center;
}

footer > .top > div a{
    text-decoration: none;
    color: #666666;
}
footer > .top > div a:hover{
    text-decoration: underline
}

/* inner-wrap */
footer > .inner-wrap{
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
    clear: both;
}

footer > .inner-wrap > .footer-logo {
    overflow: hidden;
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity_new2.png) no-repeat center;
}

.inner-wrap > .footer-info{
    float: left;
    width: 70%;
    color: #666666;
    font-weight: 200;
}

.inner-wrap > div > p {
    display: inline-block;
    font-style: normal;
    font-size: .8667em;
    letter-spacing: 0;
}

.inner-wrap > div.footer-sns {
    float: right;
    display: block;
    width: 13%;
}

.inner-wrap > div.footer-sns > a {
    overflow: hidden;
    display: block;
    float: left;
    width: 32px;
    height: 30px;
    margin-left: 5px;
    text-indent: -9999px;
}

.inner-wrap > div.footer-sns > a:nth-of-type(1){
    width: 30px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-youtubeN.png);
}
.inner-wrap > div.footer-sns > a:nth-of-type(2){
    width: 30px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-instagramN.png);
}
.inner-wrap > div.footer-sns > a:nth-of-type(3){
    width: 30px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-facebookN.png);
}
.inner-wrap > div.footer-sns > a:nth-of-type(4){
    width: 30px;
    height: 30px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-twitterN.png);
}
