@charset "UTF-8";

.booking-sec1 button {
	cursor: pointer;
}

.booking-sec1 div.quick-reserve-datelist {
	align-content: center;
}

.booking-sec1 div.quick {
	float: left;
	width: calc(100% - 52px);
    display: flex;
    justify-content: space-between;
}

.booking-sec1 div.cal {
	float: right;
	width: auto;
}

.booking-sec1 img.ui-datepicker-trigger {
	cursor: pointer;
}

.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0
}

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em
}

.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover
	{
	top: 1px
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px
}

.ui-datepicker .ui-datepicker-next {
	right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span
	{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
	{
	width: 45%
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: 700;
	border: 0
}

.ui-datepicker td {
	border: 0;
	padding: 1px
}

.ui-datepicker td a, .ui-datepicker td span {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left
}

.ui-datepicker.ui-datepicker-multi {
	width: auto
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header
	{
	border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0
}

.ui-datepicker-rtl {
	direction: rtl
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
	.ui-datepicker-rtl .ui-datepicker-group {
	float: right
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px
}

.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em
}

.datepicker {
	display: inline-block;
	width: 118px;
	height: 32px;
	padding: 0 10px;
	line-height: 30px;
	border-radius: 0 !important;
	border: 1px solid #d8d9db;
	border-width: 1px 0 1px 1px;
	vertical-align: middle;
	font-family: NanumBarunGothic, Dotum, '돋움', sans-serif
}

.datepicker::-ms-clear {
	display: none
}

.datepicker::placeholder {
	color: #999;
	opacity: 1
}

.datepicker:-ms-input-placeholder {
	color: #999
}

.datepicker::-ms-input-placeholder {
	color: #999
}

.date-calendar.v2+.ui-datepicker-trigger {
	height: 36px
}

.ui-datepicker-trigger {
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	border: 1px solid #d8d9db;
	border-width: 1px 1px 1px 0;
	font-size: 0;
	line-height: 0;
	vertical-align: middle;
}

.ui-datepicker {
	z-index: 2001
}

.ui-datepicker .ui-datepicker-title select {
	display: inline-block;
	width: 40%;
	vertical-align: middle;
	margin: 0 4px
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary {
	opacity: 1;
	filter: Alpha(Opacity = 100);
	font-weight: 400
}

.ui-datepicker td a, .ui-datepicker td span {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	line-height: 22px;
	text-align: center;
	color: #444;
	border-radius: 24px;
	text-decoration: none
}

.ui-datepicker {
	width: 264px;
	z-index: 1000 !important
}

.ui-datepicker.ui-widget.ui-widget-content {
	border-color: #ccc
}

.ui-datepicker .ui-datepicker-header {
	height: 36px;
	margin: 0;
	padding: 0;
	border: 0;
	background: #351f66;
	color: #fff;
	font-weight: 400
}

.ui-datepicker .ui-datepicker-title {
	margin: 0;
	padding: 0;
	line-height: 36px
}

.ui-datepicker .ui-datepicker-next, .ui-datepicker .ui-datepicker-prev {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px
}

.ui-datepicker .ui-datepicker-next {
	right: 2px
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
	border: 0;
	background-color: #693fc6
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
	border: 0;
	background-color: #693fc6
}

.ui-datepicker .ui-datepicker-next span, .ui-datepicker .ui-datepicker-prev span
	{
	margin-top: -5px;
	margin-left: -3px
}

.ui-datepicker .ui-datepicker-prev .ui-icon-circle-triangle-w {
	width: 6px;
	height: 10px;
	background:
		url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-prev-month.png)
		no-repeat 0 0
}

.ui-datepicker .ui-datepicker-next .ui-icon-circle-triangle-e {
	width: 6px;
	height: 10px;
	background:
		url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-next-month.png)
		no-repeat 0 0
}

.ui-datepicker table.ui-datepicker-calendar {
	margin: 0;
	font-size: 1em
}

.ui-datepicker table.ui-datepicker-calendar td, .ui-datepicker table.ui-datepicker-calendar th
	{
	margin: 0;
	padding: 4px 0;
	text-align: center
}

.ui-datepicker table.ui-datepicker-calendar td {
	font-size: .8em
}

.ui-datepicker table.ui-datepicker-calendar td a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	line-height: 22px;
	text-align: center;
	color: #444;
	border-radius: 24px
}

.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default {
	border: 0;
	background: #fff;
	line-height: 24px
}

.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default.ui-state-hover
	{
	background-color: #ebebeb
}

.ui-datepicker table.ui-datepicker-calendar td a.ui-state-default.ui-state-active
	{
	color: #fff;
	background-color: #01738b;
	border: 0;
	line-height: 24px
}

.ui-datepicker table.ui-datepicker-calendar td a.meagBox-selected-day {
	border: 1px dashed #b1b1b1;
	background: #ebebeb;
	line-height: 22px
}

.ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-today a {
	color: #01738b;
	line-height: 22px;
	border: 1px solid #01738b;
	background-color: #fff
}

.ui-datepicker table.ui-datepicker-calendar td.ui-datepicker-today a.ui-state-highlight
	{
	background-color: #fff
}

.ui-datepicker table.ui-datepicker-calendar td a.ui-state-highlight.ui-state-active
	{
	color: #fff;
	background-color: #01738b;
	border: 0;
	line-height: 24px
}

.ui-datepicker table.ui-datepicker-calendar td.ui-state-disabled,
	.ui-datepicker table.ui-datepicker-calendar td.ui-widget-content .ui-state-disabled,
	.ui-datepicker table.ui-datepicker-calendar td.ui-widget-header .ui-state-disabled
	{
	opacity: 1;
	filter: Alpha(Opacity = 100);
	background-image: none
}

.ui-datepicker table.ui-datepicker-calendar td.ui-state-disabled .ui-icon
	{
	filter: Alpha(Opacity = 100)
}

.ui-datepicker .ui-datepicker-buttonpane {
	overflow: hidden;
	margin: 5px 0 0 0;
	padding: 10px 5px;
	border: 0;
	border-top: 1px solid #ebebeb;
	background-image: none
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	display: block;
	float: left;
	width: 42px;
	height: 22px;
	margin: 0;
	padding: 0;
	line-height: 20px;
	font-size: .8667em;
	border-radius: 2px;
	border-color: #d8d9db;
	background-color: #fff
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current.ui-state-hover
	{
	background-color: #fff
}

.ui-datepicker .ui-datepicker-buttonpane .legend {
	float: right
}

.ui-datepicker .ui-datepicker-buttonpane .legend .iconset {
	margin-left: 6px
}