/* 기본 셋팅 */
body {
    letter-spacing: 0;
    line-height: 1.5;
    font-size: 15px;
    color: #666666;
    font-weight: 400;
    position: relative;
}


/* 배경 설정 */
/* div.bg{
    position: absolute;
     background-image: url("/bgmovie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 880px;
    z-index: -1;
} */

/* mainsection 1 */
.section1{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg {
    width: 100%;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
}

.contents-area {
    width: 1100px;
    margin: 0 auto;
}
.boxoffice{
    margin: 0 auto;
    width: fit-content;
    
}
.topbox {
    overflow: hidden;
}

.boxoffice > p {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #fff;
    padding: 0 0 5px 0;
    margin: 0 18px;
}
.section1_inner div.moremovie{
    float: right;
    margin-bottom: 5px;
    margin-right: 20px;
}
.section1_inner div.moremovie > a {
    text-decoration: none;
    color: #666;
}
.section1_inner div.moremovie > a:hover {
    text-decoration: underline;
    color: #666;
}

.section1_inner div.moremovie i{
    position: absolute;
    top: 127px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-more-cross-gray.png);
    margin-left: 4px;
    width: 16px;
    height: 16px;
}

.poster {
    clear: both;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.poster > div {
    /* background-color: black; */
    text-align: center;
    padding: 20px;
}
.hotmovie{
    display: flex;
    flex-wrap: wrap;
}
.hotmovie > a:first-child {
    width: 100%;
    /* margin-bottom: 10px; */
    
}
.hotmovie img {
    width: 100%;
}

.hotmovie > .like {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.hotmovie > .like > a:first-child {
    /* float: left; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
    border: 1px solid #666;
    border-radius: 5px;
    width: 40%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.hotmovie > .like .heart{
	width: 15px;
    fill: #ddd;
}
.hotmovie > .like > a > p{
    color: #fff;
    font-weight: lighter;
}

.hotmovie > .like a{
    /* float: right; */
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    border-radius: 4px;
    background-color: #037B94;
}
.hotmovie > .like a > div {
    padding: 11px 0;
    color: #fff;
    
}

.section2 {
	
	height: 331px;
	background-color: #503396;
}
.section2 > .inner-section2{
	height:100%;
	width:1100px;
	margin: 0 auto;
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}

.section2 div {
	color: #fff;
}

.inner-section2 a{
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items: center;
}
.inner-section2 a div{
	margin-top: 5px;
}